<div class="background-container">
    <html>
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
  
        <link rel="stylesheet" href="./follower-list.component.scss" />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
        />
      </head>
  
      <body class = "background">
          <div class="perfil-child"></div>
           <div class="filmes" style="text-decoration: none">FILMES </div>
          <div class="reviews" style="text-decoration: none">REVIEWS</div>
          <div class="logo">
          <img
            class="logo-icon"
            alt=""
            src="../../../assets/icon.png"
          /></div>
  
          <div class="image-7-parent">
            <img class="image-7-icon1" alt="" src="../../../assets/userIcon.png" />
  
            <div class="username1">{{ currentUser.username }}</div>
            <img class="setinha" alt="" src="../../../assets/setinha.jpg" />
          </div>
  
  
          <div class="topo">
            <h1 class="title">Seguidores
                </h1>
            <div class="line-container"></div> 
        </div>
  
        </body>