@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.home {
    &-container {
      width: 100%;
      height: 60px;
      background-color: #0F0B38;
      display: flex;
      justify-content: flex-start   ;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
    }
}

.logo {
    margin-left: 10px;
    margin-top: 30px;
    img {
        width: 190px; /* Ajuste o tamanho da sua logo conforme necessário */
        height: 212px;
        flex-shrink: 0;
    }
}
.options {
    margin-left: 500px;
  }
  
  .option {
    color: #D8E0E8;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 100px;
  
    &:hover {
        color: #3f51b5;
    }
  }
.line-container{
    border-bottom: 1.5px solid black;
    height: 1.5px; 
    width: 1080px;
}
.background-container{
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.topo{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10rem;
    color: white;
    padding-bottom: 3px;
    padding-top: 120px;
}
.title{
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.user-icon {
    margin-top: 0.5px;
    img {
        width: 40px; /* Ajuste o tamanho da sua logo conforme necessário */
        height: 40px;
        flex-shrink: 0;
    }
}