<div class="background-container">
    <header>
        <nav>
            <div class="home-container">
                <div class="logo">
                    <img src="../../../assets/icon.png" alt="Logo">
                </div>
                <div class="nav-container">
                    <div class="options">
                        <a href="#" class="option"  style="text-decoration: none">FILMES</a>
                        <a href="#" class="option"  style="text-decoration: none">REVIEWS</a>
                        <a href="#" class="option"  (click)="redirectToProfile($event)" style="text-decoration: none">PERFIL</a>
                    </div>
                    
                </div>     
                <div class="user-icon">
                    <img src="../../../assets/userIcon.png" alt="User-Avatar">  
                    <p id="username"></p>
                </div> 
            </div>
            
        </nav>
    </header>

    <div class="topo">
        <h1 class="title">Acompanhe os filmes que você assistiu.
            <br>Salve aqueles que você deseja ver.<br>Informe aos seus amigos o que é bom.</h1>
        <div class="line-container"></div> 
    </div>

    <div>
        <app-carousel></app-carousel> 
        
    </div>
</div>
