<div class="background-container">
    <header>
        <nav>
            <div class="home-container">
                <div class="logo">
                    <img src="../../../assets/icon.png" alt="Logo">
                </div>
                <div class="nav-container">
                    <div class="options">
                        <a href="#" class="option"  style="text-decoration: none">FILMES</a>
                        <a href="#" class="option"  style="text-decoration: none">REVIEWS</a>
                        <a href="#" class="option"   style="text-decoration: none">SAIR</a>
                    </div>                    
                </div>     
            </div>            
        </nav>
    </header>
    <div class="content">
        <form>
          <section class="copy">
            <h2>Adicionar Filme</h2>
          </section>
          <div class="input-container">
            <label for="title">Título</label>
            <input type="text" name="title" id="title">
          </div>
          <div class="input-container">
            <label for="genre">Gênero</label>
            <input type="text" name="genre" id="genre">
          </div>
          <div class="input-container">
            <label for="duration">Duração</label>
            <input type="text" name="duration" id="duration">
          </div>
          <div class="input-container">
            <label for="director">Diretor</label>
            <input type="text" name="director" id="director">
          </div>
          <button class="submit-btn" type="submit">Adicionar Filme</button>
        </form>
      </div>
    
</div>