<div class="background-container">
    <header>
        <nav>
            <div class="home-container">
                <div class="logo">
                    <img src="../../../assets/icon.png" alt="Logo">
                </div>
                <div class="nav-container">
                    <div class="options">
                        <a href="#" class="option"  style="text-decoration: none">FILMES</a>
                        <a href="#" class="option"  style="text-decoration: none">REVIEWS</a>
                    </div>                    
                </div>   
                <div class="dropdown">
                  <button class="dropdown-btn" onclick="toggleDropdown()" id="dropdownBtn">
                    <img src="../../../assets/userIcon.png" alt="">
                      {{username}}
                    <div class="arrow"></div>
                  </button>
                  <ul class="dropdown-content" id="dropdownContent">
                    <li (click)="redirectToHome($event)"><a href="#">HOME</a></li>
                    <li ><a href="#" (click)="redirectToProfile($event)">PERFIL</a></li>
                    <li><a href="#" (click)="redirectToProfile($event)">FILMES</a></li>
                    <li (click)="logout()"><a href="#">SAIR</a></li>
                  </ul>
                </div>  
            </div>            
        </nav>
    </header>
    <div>ola mundo</div>
    <div class="content">
        <form>
          <section class="copy">
            <h2>Adicionar Filme</h2>
          </section>
          <div class="input-container">
            <label for="title">Título</label>
            <input [(ngModel)]="contentDto.title" type="text" name="title" id="title">
          </div>
          <div class="input-container">
            <label for="genre">Gênero</label>
            <input [(ngModel)]="contentDto.genre" type="text" name="genre" id="genre">
          </div>
          <div class="input-container">
            <label for="duration">Duração</label>
            <input [(ngModel)]="contentDto.duration" type="number" name="duration" id="duration">
          </div>
          <div class="input-container">
            <label for="director">Diretor</label>
            <input [(ngModel)]="contentDto.director" type="text" name="director" id="director">
          </div>
          <button class="submit-btn" (click)="submitContent()" type="submit">Adicionar Filme</button>
        </form>
      </div>
    
</div>