@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.nav {
    &-container {
      width: 100%;
      height: 60px;
      background-color: #0F0B38;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: fixed;
      top: 0;
      z-index: 4;
      right: 0;
    }
      
}

.options {
  margin-left: 180px;
}

.option {
  color: #D8E0E8;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 100px;

  &:hover {
      color: #3f51b5;
  }
}


    
    