@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.home {
    &-container {
      width: 100%;
      height: 60px;
      background-color: #0F0B38;
      display: flex;
      justify-content: flex-start   ;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
    }
}

.logo {
    margin-left: 10px;
    margin-top: 30px;
    img {
        width: 190px; /* Ajuste o tamanho da sua logo conforme necessário */
        height: 212px;
        flex-shrink: 0;
    }
}
.options {
    margin-left: 500px;
  }
  
  .option {
    color: #D8E0E8;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 100px;
  
    &:hover {
        color: #3f51b5;
    }
  }
.background-container{
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.user-icon {
    margin-top: 0.5px;
    img {
        width: 40px; /* Ajuste o tamanho da sua logo conforme necessário */
        height: 40px;
        flex-shrink: 0;
    }
    p{
        color: white;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Isso fará com que o formulário ocupe toda a altura da tela */
  }
  
  /* Adicione estilos de formatação aos elementos do formulário, se necessário */
  .input-container {
    margin: 10px;
    /* Outros estilos de formatação aqui */
  }
  
  .submit-btn {
    margin-top: 20px;
    /* Outros estilos de formatação para o botão de envio */
  }
  
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-17xl: 36px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-gainsboro-100: #d8e0e8;
    --color-white: #fff;
  }
  
  

.image-7-icon {
    position: absolute;
    top: 249px;
    left: 103px;
    width: 188px;
    height: 188px;
    object-fit: cover;
  }
  .username {
    position: absolute;
    top: 373px;
    left: 337px;
    font-weight: 00;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    width: 101px;
    height: 42px;
  }
  .perfil-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0f0b38;
    width: 4000px;
    height: 130px;
  }
  .filmes,
  .reviews {
    position: absolute;
    top: 52px;
    left: 859px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    width: 144px;
    height: 82px;
    &:hover {
        color: #3f51b5;
    }
  }
  .reviews {
    left: 992px;
    width: 163px;
  }
  .mini-icone {
    
    position: absolute;
    top: 0;
    margin-left: 10px;
    width: 190px;
    height: 212px;
    object-fit: cover;
    top: 6px;
    left: 100px;
    width: 59px;
    height: 59px;
  }
  .logo-icon{
    position: absolute;
    top: 0;
    margin-left: 10px;
    width: 190px;
    height: 150px;
    object-fit: cover;
  }
  .username1 {
    position: absolute;
    top: 15px;
    left: 190px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 101px;
    height: 42px;
  }
  .setinha,
  .image-7-parent {
    position: absolute;
    overflow: hidden;
  }
  .setinha {
    top: 36px;
    left: 230px;
    width: 21px;
    height: 13.58px;
    object-fit: cover;
  }
  .image-7-parent {
    top: 38px;
    left: 1171px;
    width: 241px;
    height: 72px;
    color: var(--color-gainsboro-100);
  }
  .div {
    top: 249px;
    left: 1026px;
    font-size: var(--font-size-17xl);
  }
  .seus-contedos {
    position: absolute;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
  }
  .div1 {
    top: 249px;
    left: 1228px;
    font-size: var(--font-size-17xl);
  }
  .seus-contedos {
    top: 522px;
    left: 135px;
  }
  .perfil-item {
    position: absolute;
    top: 579px;
    left: 109px;
    border-radius: 32px;
    background-color: #d9d9d9;
    width: 762px;
    height: 291px;
  }
  .batman-o-cavaleiro {
    margin: 0;
  }
  .batman-o-cavaleiro-container {
    position: absolute;
    top: 591px;
    left: 123px;
    font-size: 26px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 737px;
    height: 265px;
  }
  .perfil {
    position: relative;
    width: 100%;
    height: 1440px;
    overflow: hidden;
    background-image: url('../../../assets/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Cor de fundo do container */
    padding: 10px; /* Espaçamento interno do container */
    border-radius: 8px; /* Borda arredondada */
    margin-top: 0px; /* Espaço entre o container e o conteúdo acima */
  }
  
  
  .profile-actions button {
   
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      position: absolute;
      top: 0;
      margin-left: 10px;
      width: 70px;
      height: 42px;
      object-fit: cover;
      top: 430px; 
      left: 330px; 
      

    
    
    
  }
  
  .profile-actions button:hover {
    background-color: #2d3f8c; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .profile-stats {
    display: flex;
    gap: 20px; /* Espaçamento entre os elementos internos */
  }
  
  .followers {
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    margin-left: 10px;
    width: 190px;
    height: 212px;
    object-fit: cover;
    top: 386px; 
    left: 1000px; 
  }
  
  .following {
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    margin-left: 10px;
    width: 290px;
    height: 212px;
    object-fit: cover;
    top: 386px; 
    left: 1200px; 
  }
  
  
  .followers span,
  .following span {
    font-size: 18px;
  }
  
  a.router-link {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #fefefe; /* Cor do link */
    font-weight: bold;
  }
  
  a.router-link:hover {
    text-decoration: underline; /* Sublinhar o link ao passar o mouse */
  }
 .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
 }
 
  .icon{
    padding-top: 15%;
    padding-left: 12%;
    img{
        width: 120px;
        height:120px;
        align-items: flex-start;
    }
    p {
        color: white;
        font-family: Poppins;
        font-size: 30px;
        margin-top: 5px;
        margin-left: 24px;
    }
  }
  .create-content-btn{
    display: block;
    width: 150px;
    background: #0F0B38;
    color: white;   
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 70px;
    margin-top: 220px;
}
.create-content-btn:hover{
    background: rgb(156, 156, 179);
    cursor: pointer;
}
.edit-content-btn{
    display: block;
    width: 150px;
    background: orange;
    color: white;   
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 70px;
    margin-top: 220px;
}
.edit-content-btn:hover{
    background: rgb(156, 156, 179);
    cursor: pointer;
}
.remove-content-btn{
    display: block;
    width: 150px;
    background: rgba(255, 0, 0, 0.7);
    color: white;   
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 70px;
    margin-top: 220px;
}
.remove-content-btn:hover{
    background: rgb(156, 156, 179);
    cursor: pointer;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.movie-card {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9; /* cor-gainsboro-100 */
  border-radius: 20px; /* br-xl */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3; /* cor-white */

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #292929; /* cor-gray */
    background-color: rgba(217, 217, 217, 0.52); /* cor-gainsboro-200 */
    padding: 10px;
  }

  p {
    margin: 0.25rem 0;
    padding: 0 10px;
    color: #292929; /* cor-gray */
  }

  .movie-options {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }

  .edit-button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #0072b3; /* cor-cornflowerblue-100 */
    color: #fff; /* cor-white */
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 12px; /* font-size-xs */
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
      background-color: #ececec; /* cor-whitesmoke */
      color: #000; /* cor-black */
    }
  }

  .delete-button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ff0000; /* cor-red */
    color: #fff; /* cor-white */
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 12px; /* font-size-xs */
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
      background-color: #ececec; /* cor-whitesmoke */
      color: #000; /* cor-black */
    }
  }
}

.no-movies {
  width: 100%;
  text-align: center;
  color: #292929; /* cor-gray */
  margin-top: 2rem;
}
.content-container h2 {
  text-align: center; 
  color: white;
  font-family: Poppins;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 20px; 
}
.horizontal-line {
  border: 1px solid black; /* Cor da linha, ajuste conforme necessário */
  margin-top: 10px; /* Espaço entre a linha e o título */
  margin-bottom: 20px; /* Espaço entre a linha e o conteúdo abaixo */
}
