<div class="background-container">
    <header>
        <nav>
            <div class="home-container">
                <div class="logo">
                    <img src="../../../assets/icon.png" alt="Logo">
                </div>
                <div class="nav-container">
                    <div class="options">
                        <a href="#" class="option"  style="text-decoration: none">FILMES</a>
                        <a href="#" class="option"  style="text-decoration: none">REVIEWS</a>
                    </div>

                </div>
                <div class="user-icon">
                    <img src="../../../assets/userIcon.png" alt="User-Avatar">
                    <p id="username">HEITCHO</p>
                </div> 
            </div>

        </nav>
    </header>
     <section class="copy">
        <h2>Editar</h2>
    </section>
    <form class="form-container">
        <div class="input-container title">
            <label for="fname">Título</label>
            <input [(ngModel)]="contentdto.title" type="text" name="title" id="title">     
        </div>
        <div class="input-container duration">
            <label for="fname">Duração</label>
            <input [(ngModel)]="contentdto.duration" type="number" name="duration" id="duration">     
        </div>
        <div class="input-container director">
            <label for="fname">Diretor</label>
            <input [(ngModel)]="contentdto.director" type="text" name="director" id="director">     
        </div>
        <div class="input-container genre">
            <label for="fname">Gênero</label>
            <input [(ngModel)]="contentdto.genre" type="text" name="genre" id="genre">     
        </div>
        <button (click)="editContent(contentdto)" class="edit-btn" type="submit">Atualizar</button>
    </form>
</div>