<!DOCTYPE html>
<html>
<div class="background-container">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
    
        <link rel="stylesheet" href="./search.css" />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
        />
      </head>
      <body>
        <div class="busca">
          <div class="frame">
            <div class="frame-child"></div>
            <div class="filmes">FILMES</div>
            <div class="reviews">REVIEWS</div>
            <img
              class="d83a0f7001c423f928d720956ff129-icon"
              alt=""
              src= "../../../assets/icon.png"
            />
    
            <div class="image-7-parent">
              <img class="image-7-icon" alt="" src="../../../assets/userIcon.png" />
    
              <div class="heitor">Heitor</div>
              <img class="frame-item" alt="" src="../../../assets/arrow.png" />
            </div>
            <div class="component-2">
              <div class="component-2-child"></div>
              <div class="enter-your-name">Harry Potter</div>
              <div class="name"></div>
              
            </div>
            <img class="image-10-icon" alt="" src="../../../assets/search.png" />
          </div>
          <div class="rectangle-parent">
            <div class="frame-inner"></div>
            <img class="image-11-icon" alt="" src="../../../assets/hppf.png" />
    
            <div class="harry-potter-e">Harry Potter e a Pedra Filosofal</div>
            <div class="disponvel-no-hbo">Disponível no HBO Max</div>
            <img class="image-12-icon" alt="" src="../../../assets/hbo.png" />
          </div>
          <div class="rectangle-group">
            <div class="frame-inner"></div>
            <div class="disponvel-no-hbo1">Disponível no HBO Max</div>
            <img class="image-12-icon" alt="" src="../../../assets/hbo.png" />
    
            <div class="harry-potter-e1">Harry Potter e a Câmara dos Segredos</div>
            <img class="image-13-icon" alt="" src="../../../assets/hpcs.png" />
          </div>
        </div>
      </body>
    </html>


</div>
  
